<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./head %>
</head>

<body>
  <% include ./header %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card border-info mb-5" style="max-width: 20rem;">
          <div class="card-header text-center">
            <%= me.nameJ %>
          </div>
          <div class="card-body text-info">
            <h4 class="card-title">
              세부정보
            </h4>
            <p>
              <% if(me.sideJ == 1){ %>
              성향 : 진보
              <% }else{ %>
              성향 : 보수
              <% } %>
            </p>
            <p>연령대 :
              <%= me.ageJ %>대
            </p>
            <p>레벨 :
              <%= me.level %>
            </p>
            <p>누적경험치 :
              <%= me.exp %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <hr>
        <div class="row">
          <div class="col-md-6 text-center">제목</div>
          <div class="col-md-1 text-center">인정</div>
          <div class="col-md-2 text-center">시간</div>
          <div class="col-md-3 text-center">권한</div>
        </div>
        <hr>
        <% if (panArr !== null){
    for(var i = 0; i < panArr.length; i++) { %>
        <div class="row" style="height:50px;">
          <div class="col-md-5">
            <button class="btn btn-outline-dark" onclick="location.href='/pan/<%= panArr[i]._id%>'">
              <%=panArr[i].title%>
            </button>
          </div>
          <div class="col-md-2 text-center">
            <%= panArr[i].like_number%>
          </div>
          <div class="col-md-5 text-center uk-button-group">
            <div class="uk-inline">
              <% if(panArr[i].exp_done==false){ %>
              <a href='/user/expup/<%= panArr[i]._id %>' class="btn btn-success bill">정산</a>
              <% }else{ %>
              <span>정산완료(<%= panArr[i].exp_done_howmuch %>)</span>
              <% } %>
              <a class="btn btn-warning" href='/pan/update/<%= panArr[i]._id %>'>수정</a>
              <a href='/pan/remove/<%= panArr[i]._id %>' class="btn btn-danger deletes">삭제</a>
            </div>
          </div>
        </div>
        <br>
        <%  }} %>
        <nav aria-label="Page navigation example" style="padding:30px;">
          <ul class="pagination justify-content-center">
            <% var start=page;
    if((start%10)==0){
      start--;
    }
    while((start%10)!=0){
      start--;
    }
    start++;
    if((start+9)>pagination){
      end=pagination;
    }else{
      end=start+9;
    }
    if(start!==1){ %>
            <li class="page-item">
              <a class="page-link" href="./<%=start-1%>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <% }
     for(var i=start; i<=end; i++){ %>
            <li class="page-item"><a class="page-link" href="./<%=i%>" class="page-link">
                <%=i%></a></li>
            <%}
    if(end!=pagination){ %>
            <li class="page-item">
              <a class="page-link" href="./<%=end+1%>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <%} %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <% include ./footer %>
</body>
  <script>
    $(function() {

      $(".bill").click(function() {
        if (confirm('정산하시겠습니까? 한번 정산된 글로는 추후 경험치를 획득할 수 없습니다')) {
          return true;
        } else {
          return false;
        }
      });

      $(".deletes").click(function() {
        if (confirm('삭제하시겠습니까? 한번 삭제된 글은 복구할 수 없습니다')) {
          return true;
        } else {
          return false;
        }
      });

    });
  </script>

</html>
