<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./head %>
</head>

<body>
  <% include ./header %>

    <div class="row">
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          마이 페이지
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card border-info mb-2" style="max-width: 20rem;">
          <div class="card-header text-center">
            <%= me.nameJ %>
          </div>
          <div class="card-body text-info">
            <h4 class="card-title">
              세부정보
            </h4>
            <p>
              <%= me.locate %> / <%= me.ageJ %>대 /
              <% if(me.sideJ == "left"){ %>
              진보
              <% }else{ %>
               보수
              <% } %>
            </p>
            <p>레벨 :
              <%= me.level %>
            </p>
            <p>누적경험치 :
              <%= me.exp %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info" role="alert">
          <a href="/mypage/view/board/1" class="text-dark"><i class="fas fa-angle-double-right"></i>글</a>
          <a href="/mypage/view/commentpoli/1" class="text-dark"><i class="fas fa-angle-double-right"></i>정치 댓글</a>
          <a href="/mypage/view/comment/1" class="text-dark"><i class="fas fa-angle-double-right"></i>일반 댓글</a>
        </div>
      </div>
    </div>
    <% if (pan !== null){
    for(var i = 0; i < pan.length; i++) { %>
    <div class="row">
      <div class="col-md-6 col-12 mb-2">
        <a href="/pan/<%=pan[i].field%>/<%= pan[i]._id%>" class="list-group-item list-group-item-action" style="overflow:hidden; text-overflow:ellipsis;">
          <%=pan[i].title%>
        </a>
      </div>
      <div class="col-md-6 col-12 mb-2">
        <a class="btn btn-warning" href='/update/render/<%= pan[i]._id %>'>수정</a>
        <a href='/remove/<%= pan[i]._id %>' class="btn btn-danger deletes">삭제</a>
      </div>
    </div>
    <%  }} %>
    <% if (comment !== null){
    for(var i = 0; i < comment.length; i++) { %>
    <div class="row">
      <div class="col-md-6 col-12 mb-2">
        <div class="list-group-item list-group-item-action" style="overflow:hidden; text-overflow:ellipsis;">
          <%=comment[i].contents%>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
        <a href='/comment/remove/<%= comment[i]._id %>' class="btn btn-danger deletes">삭제</a>
      </div>
    </div>
    <%  }} %>
    <% if (commentPoli !== null){
    for(var i = 0; i < commentPoli.length; i++) { %>
    <div class="row">
      <div class="col-md-6 col-12 mb-2">
        <div class="list-group-item list-group-item-action" style="overflow:hidden; text-overflow:ellipsis;">
          <%=commentPoli[i].contents%>
        </div>
      </div>
      <div class="col-md-6 col-12 mb-2">
        <% if(commentPoli[i].exp_done){ %>
        <span><i class="fas fa-heart"></i>
          <%= commentPoli[i].exp_done_howmuch %> 정산완료</span>
        <% }else{ %>
        <a href='/mypage/expup/<%= commentPoli[i]._id %>' class="btn btn-success bill"><i class="far fa-heart"></i>
          <%= commentPoli[i].like_number%> 정산</a>
        <% } %>
        <a href='/commentpoli/remove/<%= commentPoli[i]._id %>' class="btn btn-danger deletes">삭제</a>
      </div>
    </div>
    <%  }} %>
    <div class="row">
      <div class="col-12">
        <nav aria-label="Page navigation example mt-2 mb-2">
          <ul class="pagination justify-content-center">
            <% var start=page;
        if((start%10)==0){
          start--;
        }
        while((start%10)!=0){
          start--;
        }
        start++;
        if((start+9)>pagination){
          end=pagination;
        }else{
          end=start+9;
        }
        if(start!==1){ %>
            <li class="page-item">
              <a class="page-link" href="./<%=start-1%>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <% }
            for(var i=start; i<=end; i++){
            if(i==page){ %>
            <li class="page-item active"><a class="page-link" href="./<%=i%>" class="page-link">
                <%=i%></a></li>
            <% } else{%>
            <li class="page-item"><a class="page-link" href="./<%=i%>" class="page-link">
                <%=i%></a></li>
            <% } %>
            <%}
        if(end!=pagination){ %>
            <li class="page-item">
              <a class="page-link" href="./<%=end+1%>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <%} %>
          </ul>
        </nav>
      </div>
    </div>
  
  <% include ./footer %>
</body>
<script>
  $(function() {

    $(".bill").click(function() {
      if (confirm('정산하시겠습니까? 한번 정산되면 이 댓글로 다시 경험치를 획득할 수 없습니다')) {
        return true;
      } else {
        return false;
      }
    });

    $(".deletes").click(function() {
      if (confirm('삭제하시겠습니까? 한번 삭제되면 복구할 수 없습니다')) {
        return true;
      } else {
        return false;
      }
    });

  });
</script>

</html>
