<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/panStyle.css' />
  <% include ./head %>
  <script src="/js/pan.js"></script>
</head>

<body>
  <% include ./header %>
  <div class="container fontCenter">
    <div class="row text-center">
      <div class="col-12">
        <a href="/pan/<%= pan._id%>">
          <%= pan.title %></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-2">조회수 :
        <%= pan.hit %>
      </div>
      <div class="col-2">작성자 :
        <%= pan.writer %>
      </div>
      <div class="col-2">좋아요 : <span id="like_number">
          <%= pan.like_number%></span></div>
      <div class="col-2">
        <%= pan.board_date.toLocaleString()%>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row" style="padding-top:20px; padding-bottom:20px;">
      <div class="col-12">
        <%= pan.contents%>
      </div>
    </div>
    <div class="row" style="margin-top:20px; margin-bottom:20px;">
      <div class='col-4'></div>
      <div class="col-4" style="text-align : center; font-weight: bold;">
        <button class="btn btn-primary" id="like" data-panId="<%= pan._id %>">좋아요</button>
        <button class="btn btn-danger" id="dislike" data-panId="<%= pan._id %>">싫어요</button>
      </div>
      <div class='col-4'></div>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-success getComment " data-page="1" data-where="new" data-panId="<%= pan._id %>" id="getFirstComment">최신 댓글</button>
            <button class="btn btn-primary getComment" data-page="1" data-where="hot">인기 댓글</button></div>
        </div>
        <hr>
        <div class="row" id="commentBox"></div>
        <div id="pagingBox"></div>
        <div class="row" style="padding-top:10px; padding-bottom:10px;">
          <div class="col-12">
            <% if(login==0){ %>
            <h3>로그인을 하지 않아 댓글을 달 수 없습니다</h3>
            <% } else if(login==1){ %>
            <h3>가입을 하지 않아 댓글을 달 수 없습니다</h3>
            <% } else { %>
            <form action="/comment/write" method="post">
              <input type="hidden" name="id" value="<%=pan._id%>">
              <div class="form-group mx-sm-4 mb-2">
                <textarea class="form-control" name="contents" rows="3"></textarea>
              </div>
              <div class="form-group mx-sm-4 mb-2">
                <button type="submit" class="btn btn-primary mb-2">댓글 입력</button>
              </div>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>

    <% include ./footer %>
</body>

</html>
