<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/panStyle.css' />
  <% include ./head %>
  <script src="/js/pan.js"></script>
</head>

<body>
  <% include ./header %>
  <div class="container fontCenter">
    <hr>
    <div class="row" style="margin-top:20px;">
      <div class="col-md-2"><button class=" goBack">뒤로가기</button></div>
      <div class="col-md-8">
        <a href="/pan/<%= pan._id%>">
          <%= pan.title %></a>
      </div>
      <div class="col-md-2"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2">조회수 :
        <%= pan.hit %>
      </div>
      <div class="col-md-2">작성자 :
        <%= pan.writer %>
      </div>
      <div class="col-md-2">좋아요 : <span id="like_number">
          <%= pan.like_number%></span></div>
      <div class="col-md-2">
        <%= pan.board_date.toLocaleString()%>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row" style="padding-top:20px; padding-bottom:20px;">
      <div class="col-md-12">
        <%- pan.contents%>
      </div>
    </div>
    <div class="row" style="margin-top:20px; margin-bottom:20px;">
      <div class='col-md-4'></div>
      <div class="col-md-4" style="text-align : center; font-weight: bold;">
        <button id="like" data-panId="<%= pan._id %>">좋아요</button>
        <button id="dislike" data-panId="<%= pan._id %>">싫어요</button>
      </div>
      <div class='col-md-4'></div>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="row">
            <div class="col-md-12" style="text-align:center;">
              <button class="getComment " data-page="1" data-where="new" data-panId="<%= pan._id %>" id="getFirstComment">최신 댓글</button>
              <button class="getComment" data-page="1" data-where="hot">인기 댓글</button></div>
          </div>
        </div>
        <hr>

        <div class="row" id="commentBox"></div>
        <div class="row" style="padding-top:10px; padding-bottom:10px;">
          <% if(login==0){ %>
          <h3>로그인을 하지 않아 댓글을 달 수 없습니다</h3>
          <% } else if(login==2){ %>
          <h3>가입을 하지 않아 댓글을 달 수 없습니다. 로그아웃 후 다시 로그인하여 가입을 진행해주세요</h3>
          <% } else { %>
          <form action="/comment/write" method="post">
            <input type="hidden" name="id" value="<%=pan._id%>">
            <div class="col-md-2 fontCenter">
              <%=sessionUser.nameJ%>
            </div>
            <div class="col-md-8"><textarea class="" name="contents"></textarea></div>
            <div class="col-md-2"><input class="" type="submit" value="완료"></div>
          </form>
          <% } %>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <div class="container">
    <hr>
    <% include ./footer %><br></div>
</body>

</html>
