<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./head %>
</head>

<body>
  <% include ./header %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <%= title%>
      </div>
      <div class="col-md-9 text-center">
        <form action="/pan/search/1" method="post">

            <select name="where">
              <option value="최신">최신</option>
              <option value="인기">인기</option>
            </select>


            <select name="how">
              <option value="제목">제목</option>
              <option value="제목">내용</option>
              <option value="제목+내용">제목+내용</option>
            </select>



            <input class="uk-input" name="what" type="text">

          <button type="submit">검색</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2 text-center">작성자</div>
      <div class="col-md-6 text-center">제목</div>
      <div class="col-md-2 text-center">좋아요</div>
      <div class="col-md-2 text-center">시간</div>
    </div>
    <hr>
    <% if (panArr !== null){
    for(var i = 0; i < panArr.length; i++) { %>
    <div class="row" style="height:50px;">
      <div class="col-md-2 text-center">
        <%=panArr[i].writer%>
        </h3>
      </div>
      <div class="col-md-6 text-center" style="text-align:left;">
        <button onclick="location.href='/pan/<%= panArr[i]._id%>'">
          <%=panArr[i].title%>
        </button>
      </div>
      <div class="col-md-2 text-center">
        <%= panArr[i].like_number%>
      </div>
      <div class="col-md-2 text-center">
        <% var now = new Date(); now = now.toLocaleDateString();
        if (now==panArr[i].board_date.toLocaleDateString()){ %>
        <%= panArr[i].board_date.toLocaleTimeString(); %>
        <% }else{ %>
        <%= now %>
        <% } %>
      </div>
    </div>
    <%  }} %>
    <div class="text-center">
      <ul class="pagination">
        <% var start=page;
        if((start%10)==0){
          start--;
        }
        while((start%10)!=0){
          start--;
        }
        start++;
        if((start+9)>pagination){
          end=pagination;
        }else{
          end=start+9;
        }
        if(start!==1){ %>
        <li><a href="./<%=start-1%>"><span uk-pagination-previous></span>
          </a></li>

        <% }
         for(var i=start; i<=end; i++){ %>
        <li class="page-item"><a class="page-link" href="./<%=i%>" class="page-link">
            <%=i%></a></li>
        <%}
        if(end!=pagination){ %>
        <li><a href="./<%=end+1%>"><span uk-pagination-next></span></a></li>
        <%} %>
      </ul>
    </div>
  </div>
  <div class="container">
    <hr>
    <% include ./footer %><br></div>
</body>

</html>
