<!DOCTYPE html>
<html lang="ko">

<head>
  <% include ./head %>
  <script src="/js/searchPage.js"></script>
</head>

<body>
  <% include ./header %>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-warning" role="alert">
            <b><%= formBack.where %>글</b> 중에서 <b><%= formBack.how %></b>에 <b>"<%= formBack.what %>"</b>가 포함된 글 목록입니다.
            <form id="searchForm" method="post">
            <input type="hidden" name="where" value="<%= formBack.where %>">
            <input type="hidden" name="how" value="<%= formBack.how %>">
            <input type="hidden" name="what" value="<%= formBack.what %>">
          </form>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2 text-center">작성자</div>
      <div class="col-md-6 text-center">제목</div>
      <div class="col-md-2 text-center">좋아요</div>
      <div class="col-md-2 text-center">시간</div>
    </div>
    <hr>
    <% if (panArr !== null){
    for(var i = 0; i < panArr.length; i++) { %>
    <div class="row">
      <div class="col-12 text-left">
        <div class="list-group">
          <a href="/pan/<%=panArr[i]._id%>" class="list-group-item list-group-item-action" style="overflow:hidden; text-overflow:ellipsis;">
            <span class="font-weight-bold">
              <%=panArr[i].title%>
            </span><br>
            <span>
              <%=panArr[i].writer%></span>
            <span class="float-right font-weight-light">
              <i class="fas fa-heart"></i>
              <%= panArr[i].like_number%>
              <% var now = new Date(); now = now.toLocaleDateString();
            if (now==panArr[i].board_date.toLocaleDateString()){ %>
              <i class="far fa-clock"></i>
              <%= panArr[i].board_date.toLocaleTimeString().slice(0,5) %>
              <% }else{ %>
                <i class="fas fa-calendar-alt"></i>
              <%= panArr[i].board_date.toLocaleDateString().slice(5,10) %>
              <% } %>
            </span>
          </a>
        </div>
      </div>
    </div>
    <%  }} %>
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="Page navigation example" style="padding:30px;">
        <ul class="pagination justify-content-center">
          <% var start=page;
        if((start%10)==0){
          start--;
        }
        while((start%10)!=0){
          start--;
        }
        start++;
        if((start+9)>pagination){
          end=pagination;
        }else{
          end=start+9;
        }
        if(start!==1){ %>
          <li class="page-item">
            <a class="page-link" href="./<%=start-1%>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <% }
         for(var i=start; i<=end; i++){ %>
          <li class="page-item"><a class="page-link" href="./<%=i%>" class="page-link">
              <%=i%></a></li>
          <%}
        if(end!=pagination){ %>
          <li class="page-item">
            <a class="page-link" href="./<%=end+1%>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <%} %>
        </ul>
      </nav>
      </div>
    </div>
    </div>
  <div class="container">
    <hr>
    <% include ./footer %><br></div>


</body>
</html>
