<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel='stylesheet' href='/stylesheets/panPageStyle.css' />
  <% include ./head %>
  <script src="/js/searchPage.js"></script>
</head>

<body>
  <% include ./header %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <%= title%>
      </div>
      <div class="col-md-9 text-center">
          <b><%= formBack.where %>글</b> 중에서 <b><%= formBack.how %></b>에 <b>"<%= formBack.what %>"</b>가 포함된 글 목록입니다.
          <form id="searchForm" method="post">
          <input type="hidden" name="where" value="<%= formBack.where %>">
          <input type="hidden" name="how" value="<%= formBack.how %>">
          <input type="hidden" name="what" value="<%= formBack.what %>">
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2 text-center">작성자</div>
      <div class="col-md-6 text-center">제목</div>
      <div class="col-md-2 text-center">좋아요</div>
      <div class="col-md-2 text-center">시간</div>
    </div>
    <hr>
    <% if (panArr !== null){
    for(var i = 0; i < panArr.length; i++) { %>
    <div class="row" style="height:50px;">
      <div class="col-md-2 text-center">
        <%=panArr[i].writer%>
        </h3>
      </div>
      <div class="col-md-6 text-center" style="text-align:left;">
        <button class="uk-button uk-button-text" onclick="location.href='/pan/<%= panArr[i]._id%>'">
          <%=panArr[i].title%>
        </button>
      </div>
      <div class="col-md-2 text-center">
        <%= panArr[i].like_number%>
      </div>
      <div class="col-md-2 text-center">
        <% var now = new Date(); now = now.toLocaleDateString();
        if (now==panArr[i].board_date.toLocaleDateString()){ %>
        <%= panArr[i].board_date.toLocaleTimeString(); %>
        <% }else{ %>
        <%= now %>
        <% } %>
      </div>
    </div>
    <%  }} %>
    <div class="text-center">
      <ul class="uk-pagination uk-flex-center">
        <% var start=page;
        if((start%10)==0){
          start--;
        }
        while((start%10)!=0){
          start--;
        }
        start++;
        if((start+9)>pagination){
          end=pagination;
        }else{
          end=start+9;
        }
        if(start!==1){ %>
        <li><a data-link="./<%=start-1%>" class="page-link"><span uk-pagination-previous></span>
          </a></li>

        <% }
         for(var i=start; i<=end; i++){ %>
        <li><a data-link="./<%=i%>" class="page-link">
            <%=i%></a></li>
        <%}
        if(end!=pagination){ %>
        <li><a data-link="./<%=end+1%>" class="page-link"><span uk-pagination-next></span></a></li>
        <%} %>
      </ul>
    </div>
  </div>
  <div class="container">
    <hr>
    <% include ./footer %><br></div>


</body>
</html>
